<nav>
  <a href="/">Home</a>
  <a href="/menu">Full Menu</a>
  <!-- new links below-->
  <a href="/menu/category/mains">Main</a>
  <a href="/menu/category/desserts">Desserts</a>
  <a href="/menu/category/sides">Sides</a>
</nav>
